{% set navs = [
    { 'route': 'app_index', 'icon': 'fas fa-home', 'text': 'Home' },
    { 'route': 'app_players', 'icon': 'fas fa-users', 'text': 'Players' },
] %}
<div class="navbar bg-base-200 shadow-lg container md:container mx-auto my-2 rounded-lg border border-slate-700">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="{{ path('app_index') }}">
        <i class="fas fa-database"></i>
        TitsDB
    </a>
  </div>
  <div class="flex-none gap-2">
    {% for nav in navs %}
        <a class="btn btn-ghost flex {% if route == nav.route %}btn-active{% endif %}" href="{{ path(nav.route) }}">
            <i class="{{ nav.icon }}"></i> {{ nav.text }}
        </a>
    {% endfor %}
  </div>
</div>