{% extends "base.html.twig" %}

{% block body %}
    <div class="container mx-auto mt-3 text-center">
        <div class="hero my-5">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold mb-1">
                        <i class="fas fa-database"></i>
                        TitsDB
                    </h1>
                    <p class="text-lg">From the outside looking in.</p>
                    <div class="mt-5">
                        <p class="text-sm">To get started, use the navigation bar above.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
